 @import url('https://fonts.googleapis.com/css?family=Dancing+Script');
 /*@import url('https://fonts.googleapis.com/css?family=Satisfy');*/

body {
  background-color: #fcf;
  /*background-image:  url("../img/bg2-150x600.png");*/
  /*background-repeat: repeat-x;*/
  font-family:      'Dancing Script', cursive, arial, sans-serif;
}

section{
    font-family:       cursive, arial, sans-serif;
}

.navbar-default{
  background-color: transparent;
  border-color:     transparent;
}

.navbar-brand{
  font-size:        20px;
  letter-spacing:   2px;
  color:            red;
}

.navbar-right{
  color:            black;
}

.corpo{
  border:           1px solid white;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius:    15px;
}

.creazione-articolo{
  border:           1px solid gray;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius:    15px;
  margin-bottom:    15px;
  padding:          0px 15px 15px 15px;
}


.riquadro{
  border:           1px solid gray;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius:    15px;
  margin-bottom:    15px;
  padding:          0px 15px 15px 15px;
}

.about-lara{
  float:            left;
  width:            50%;
  padding:          5px 15px 15px  0;
}
.rosso{
  color:            red;
  font-weight:      bolder;
}

#menu-principale{
  background-color: #faf;
  margin:           0px;
}

#menu-collezioni .sezione{
  padding-top:      15px;
}

#menu-collezioni a{
  padding-left: 0px;
}


h1{
  background-color: #f8f;
  margin:           0px 0px 15px 0px;
  padding:          15px;
}


#eventi article {
  border:           1px solid gray;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius:    15px;
  margin-top:     15px;
  padding:          0px 15px 15px 15px;
}

div .date{
  font-weight: bold;

}

.evento .descrizione{
  margin-top: 5px;
}

.contatti li{
  list-style: none;
  margin: 0 0 20px 0;
}
