#principale{
background-image: url("../img/pretty_girl_blond.png");
background-repeat: no-repeat;
 background-position: right top;
 background-position: 100% -10%;
}

body {
    background-image: url("../img/bg150x600.png");
    background-repeat: repeat-x;
}

.navbar-default{
background-color: transparent;
    border-color: transparent;
}

p {
color: "blue";
}