<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{lara}}</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/vetrina">Home</a></li>
            <li><a href="/vetrina/collezioni">Collezioni</a></li>
            <li><a href="/vetrina/eventi">Eventi</a></li>
            <li><a href="/vetrina/contatti">Contatti</a></li>
            <li><a href="/vetrina/about">About</a></li>
        </ul>
    </div>
</nav>