{% extends 'vetrina/0_base.html' %}

{% load static %}


{% block colonna_sinistra %}
<div class="col-md-12 riquadro">
    <ul>
        <li>Perline</li>
        {% for anno in menu_perline %}
        <li><a href="/vetrina/collezioni/perline/{{anno}}">{{anno}}</a></li>
        {% endfor %}
    </ul>

    <ul>
        <li>Uncinetto</li>
        <li></li>
    </ul>
</div>
{% endblock %}


{% block section %}
<section class="riquadro">
    <div class="row">

        <div class="col-md-12">
            {% if tipo %}
            <h1>Collezione {{tipo|title}} {{anno}}</h1>

            {% for creazione in collezione_anno%}
            <article class="creazione-articolo">
                <div class="row titolo">
                    <div class="col-md-8">
                        <h2>{{creazione}}</h2>
                    </div>
                </div>

                <div class="row foto-descrizione">
                    <div class="col-md-4">
                        <img src="{% static '' %}{{creazione.foto}}" alt="immagine {{creazione}}"
                             class="img-responsive">
                    </div>

                    <div class="col-md-8">
                        <p>{{creazione.descrizione}}</p>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>

        {% else %}
        <h1>Collezioni</h1>
        <p>
            Proin ac nunc nec libero mattis rhoncus. In pellentesque turpis in commodo eleifend. Mauris dapibus gravida
            libero, sit amet suscipit ipsum venenatis et. Vestibulum tempor, risus vitae convallis sollicitudin, urna
            sem sodales turpis, in posuere mauris tellus in ex. Phasellus et turpis accumsan, pulvinar ex vel, convallis
            est. Nam at vulputate eros, at rhoncus turpis. Donec fermentum a purus in tincidunt. Cras luctus quis diam
            sit amet pulvinar. Curabitur aliquet lacus in posuere blandit. Nulla justo velit, viverra eu nunc in, dictum
            tristique massa. Aenean quis tortor sodales, rhoncus felis nec, bibendum neque. Etiam eu sapien urna. Donec
            magna ipsum, tristique at bibendum eleifend, commodo vel justo. Aenean et dui dui.
        </p>
        <p>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam sem
            metus, ultricies a mi cursus, tristique efficitur enim. Suspendisse pellentesque nibh sed pellentesque
            tincidunt. Aliquam interdum nisi sit amet neque lacinia, sed consectetur erat pulvinar. Maecenas sit amet
            fermentum enim. Sed efficitur consectetur justo, id consequat dolor volutpat ac. Vivamus placerat molestie
            tincidunt. Suspendisse tristique urna blandit libero condimentum, nec elementum erat ultrices. Duis
            vehicula, orci vestibulum efficitur tempus, turpis ante vestibulum arcu, non euismod risus enim sed nunc.
            Donec elementum convallis erat, et facilisis nunc mollis ut. Etiam fringilla ex nec erat rhoncus
            scelerisque.
        </p>

        {% endif %}

    </div>
    </div>

</section>

{% endblock %}
