{% extends 'vetrina/0_base.html' %}

{% block colonna_sinistra %}
{% endblock %}

{% block section %}

<section class="riquadro">
    <h1>Contatti</h1>

    <div class="row">

        <div class="col-md-4 indirizzi">
            <h2>I nostri indirizzi</h2>

            <ul class="contatti">
                <li><span class="glyphicon glyphicon-home"></span> Via di Qui</li>
                <li><span class="glyphicon glyphicon-earphone"></span> +39 099 123 4567</li>
                <li><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@larabjyou.it">info@larabjyou.it</a>
                </li>
            </ul>
        </div>

        <div class="col-md-8 form">
            <form action="">
                <div class="form-goup">
                    <label for="nome">Nome e Cognome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome e Cognome">
                </div>
                <div class="form-goup">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-goup">
                    <label for="messaggio">Messaggio</label>
                    <textarea type="text" class="form-control" id="messaggio" placeholder="Messaggio"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Invia Messaggio</button>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">INSERIRE MAPPA GOOGLE</div>
    </div>


</section>

{% endblock %}
