{% extends 'vetrina/0_base.html' %}


{% block section %}

<section class="riquadro">
    <h1>Login</h1>

    <div class="row">
        <div class="col-md-6 riquadro">
            <h2>Accedi</h2>
            <p>Se sei già registrato, effettua l'accesso</p>

            <p>username</p>
            <p>password</p>
        </div>

        <div class="col-md-6 riquadro">
            <h2>Nuovo cliente</h2>
            <p>Registrati ora</p>
            <p>username</p>
            <p>password</p>
            <p>ripeti password</p>
        </div>
    </div>


</section>

{% endblock %}